/*!
 * YourApp v0.0
 * http://
 * app.css
 *
 * Copyright 2014, Your Name
 */
/* app-styles/elements.less - My element styles
  --------------------------------------------------------------------------- */
/* app-styles/application.less - My Application's CSS!
  --------------------------------------------------------------------------- */
*:focus,
*:before:focus,
*:after:focus,
*:active,
*:before:active,
*:after:active {
  outline: none;
}
body {
  font-family: 'Gibson';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  background-color: #030303;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.content {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}
div,
img {
  box-sizing: border-box;
}
.cinema-bg {
  box-sizing: border-box;
  min-height: 100vh;
  background: url('../../images/city-bg.jpg');
  /* Chrome10+,Safari5.1+ */
  background-size: cover;
  background-position: center top;
  color: #fff;
  height: 100%;
  position: relative;
}
.logo-left {
  text-align: center;
  color: #efefef;
  height: 600px;
  width: 100px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 24px;
  top: 100px;
  background-image: url('../../images/logo-new.svgz');
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position: top center;
}
.nav {
  font-size: 20px;
  position: absolute;
  top: 24px;
  right: 32px;
  text-shadow: 2px 2px #030303;
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Gibson';
  font-weight: normal;
}
.nav .nav-item {
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
  margin-left: 24px;
}
.nav .nav-item:hover {
  color: #cecece;
}
.subtitle {
  font-size: 18px;
  position: absolute;
  bottom: 24px;
  right: 32px;
  text-shadow: 2px 2px #030303;
  text-align: right;
  margin: 0;
  font-family: 'Gibson';
  font-weight: 600;
  color: #fff;
}
.text-offset {
  display: none;
}
.client-list {
  background-color: #fefefe;
  padding: 20px 0;
  width: 100%;
  margin: 0;
  list-style-type: none;
}
.clients-mobile {
  display: none;
}
.client {
  display: inline-block;
  vertical-align: middle;
  width: 10.5%;
  padding: 0 2.9%;
  text-align: center;
}
.client img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.client img:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.client.cisco img {
  width: 80%;
}
.clients {
  font-size: 18px;
  color: #aaaaaa;
  font-family: 'Gibson';
  font-weight: 500;
}
.section {
  width: 94%;
  padding: 60px 3%;
  color: #6d6d6d;
}
.client-section {
  background-color: #fcfcfc;
  border-top: 1px solid #dfdfdf;
}
.client-section .type-one,
.client-section .type-two,
.client-section .type-three {
  color: #2772cd;
}
.strategic {
  background-color: #fefefe;
  border-top: 1px solid #dfdfdf;
}
.cost {
  background-color: #fcfcfc;
  border-top: 1px solid #dfdfdf;
}
.scoreboard {
  background-color: #fefefe;
  border-top: 1px solid #dfdfdf;
  padding-bottom: 0;
}
#scoreboard-ss {
  border: 1px solid #dfdfdf;
  border-bottom: 0;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
}
.testimonials {
  background-color: #fcfcfc;
  border-top: 1px solid #dfdfdf;
}
.testimonials .grande {
  color: #d3443d;
  margin-bottom: 5px;
}
.testimonials .customer-quote {
  height: 400px;
}
.testimonials .customer-quote .type-three {
  display: block;
  position: relative;
  bottom: 0;
  color: #2772cd;
}
.testimonials .customer-quote .note-text.strong {
  font-style: italic;
  text-align: left;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 280px;
}
.type-list {
  margin: 40px 0 0;
  text-align: center;
  width: 60%;
  list-style-type: none;
  padding: 0;
  float: left;
}
.type-item {
  display: inline-block;
  padding: 0 1.4%;
  color: #2772cd;
  text-align: center;
  width: 30%;
}
.type {
  font-size: 26px;
  font-weight: 100;
}
.ss {
  display: block;
  line-height: 140px;
  position: relative;
  text-align: center;
}
.type-one {
  font-size: 120px;
}
.type-two {
  font-size: 72px;
}
.type-three {
  font-size: 48px;
}
hr {
  background-color: #dfdfdf;
  border: 0 none;
  display: block;
  height: 1px;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
hr:before,
hr:after {
  background-color: #dfdfdf;
  content: '';
  display: block;
  height: 11px;
  position: absolute;
  top: -5px;
  width: 1px;
}
hr:after {
  right: 0;
}
.section-heading {
  font-size: 32px;
  font-family: 'Gibson';
  font-weight: 500;
  margin: 0 0 24px;
}
.side-note {
  width: 32%;
  padding: 0;
  margin: 0;
}
.side-note.bottom-drop {
  margin-bottom: 48px;
}
.note-text {
  font-size: 20px;
  font-weight: 100;
  margin-top: 0;
}
.major {
  width: 60%;
}
.section-link {
  color: #2772cd;
  font-weight: 500;
  font-family: 'Gibson';
  text-decoration: none;
  border-bottom: 1px solid #2772cd;
}
.section-link:hover {
  color: #4a8cdd;
  text-decoration: none;
  border-bottom: none;
}
.award {
  color: rgba(240, 223, 112, 0.9);
  font-size: 186px;
  margin: 0 auto -64px;
  display: block;
  width: 186px;
  line-height: 260px;
}
.award.silver {
  color: #cecece;
}
.award-text,
.side-heading {
  font-size: 26px;
  font-weight: 100;
}
.thirds {
  width: 29%;
  padding: 2%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.halves {
  width: 45%;
  padding: 2%;
  display: inline-block;
  text-align: center;
}
.gold-text {
  color: rgba(240, 223, 112, 0.9);
}
.silver-text {
  color: #343740;
}
.strong {
  font-weight: 500;
  font-family: 'Gibson';
}
.side-heading {
  margin: 0 0 10px;
}
.attr {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #888888;
}
.grande {
  font-size: 210px;
  line-height: 210px;
  width: 210px;
  margin: 0 auto;
  display: block;
}
.nps {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Gibson';
  margin: -28px 0 10px;
  text-align: center;
}
.hire-us {
  background-color: #fefefe;
  border-top: 1px solid #dfdfdf;
  min-height: 340px;
}
footer {
  color: #fefefe;
  font-size: 14px;
  min-height: 200px;
}
footer a {
  color: #fefefe;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Gibson';
}
footer a:hover {
  color: #dfdfdf;
}
.show {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .cinema-bg {
    min-height: 568px;
    height: 100vh;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/city-bg.jpg');
    /* Chrome10+,Safari5.1+ */
    background-size: cover;
  }
  .logo-left {
    height: 300px;
    top: 178px;
    left: -7px;
    background-image: url('../images/logo-new.svgz');
    background-size: 300px auto;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .nav {
    text-align: center;
    font-size: 16px;
    top: 24px;
    text-shadow: 2px 2px #030303;
    margin: 0;
  }
  .nav .nav-item {
    margin-left: 38px;
  }
  .nav .nav-item:nth-child(3),
  .nav .nav-item:nth-child(4) {
    margin-top: 15px;
  }
  .subtitle {
    text-align: center;
    right: 20px;
    width: 90%;
  }
  .client-list {
    clear: both;
    overflow: hidden;
  }
  .client {
    width: 33%;
    display: block;
    float: left;
    padding: 0 3%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .client:nth-child(6) {
    margin-left: 60px;
  }
  .clients {
    display: none;
  }
  .clients-desktop {
    display: none;
  }
  .clients-mobile {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  h2.section-heading {
    text-align: center;
    font-size: 28px;
  }
  .type-list {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
  .type-item {
    width: 33%;
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .type-item .ss {
    line-height: 100px;
  }
  .type-item .type-one {
    font-size: 86px;
  }
  .type-item .type-two {
    font-size: 53px;
    padding-top: 2px;
  }
  .type-item .type-three {
    font-size: 36px;
    padding-top: 4px;
  }
  .type {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .right {
    float: none;
  }
  .side-note {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding-top: 20px;
  }
  .note-text {
    padding: 0 10px;
  }
  .left.major {
    width: 100%;
    float: none;
  }
  .left.major img {
    margin: 10px auto 30px auto;
    width: 90%;
    display: block;
  }
  .note-text {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .trophy-case {
    margin-top: 70px;
  }
  .thirds {
    width: 32.5%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .award {
    width: 100%;
    font-size: 86px;
    margin: 0 auto;
    line-height: .6;
  }
  .award-text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .side-note.bottom-drop {
    margin-bottom: 0;
    padding-bottom: 48px;
  }
  .testimonials .thirds {
    width: 100%;
  }
  .testimonials .customer-quote {
    height: auto;
  }
  .testimonials .customer-quote .note-text.strong {
    height: auto;
  }
  .ss-bullseye {
    margin-top: 30px;
  }
}
/* app-styles/media-queries.less - Responsive CSS for Mobile Devices
  --------------------------------------------------------------------------- */
/* BUILT WITH EEZE v0.6 - https://github.com/cousinwil/Eeze ----------------- */
