.page-bg {
  position: relative;
  min-height: 400px;
  overflow: hidden;
  background: @black url('../../images/sf.jpg') center center no-repeat;
  .background-size(cover);
  &.team-page {
    background: @black url('../../images/team.jpg') center center no-repeat;
  }
  &.report-page {
    background: @black url('../images/report.jpg') center center no-repeat;
  }
}

.page-bg-overlay {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.75);
}

.team-page .page-bg-overlay {
  background: rgba(3, 3, 3, 0.55);  
}

.report-page .page-bg-overlay {
  background: rgba(3, 3, 3, 0.6);  
}

.nav-logo {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 36px;
  z-index: 2;
}

.page-title {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 30px;
  font-size: 50px;
  font-weight: 300;
  color: @white;
  @media(min-width: 480px){
    left: 40px;
  }
}

.page-title-bold {
  font-weight: 600;
}

.page-title-bg-text {
  position: absolute;
  z-index: 1;
  left: -68px;
  bottom: -120px;
  font-size: 249px;
  font-weight: 600;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.05);
}


//  Portfolio Page

.p-item-wrap {
  display: block;
  padding: 40px 20px;
  background-color: @white;
  border-bottom: 1px solid @gray-d;
  @media(min-width: 480px){
    padding: 80px 40px;
  }
}

.p-item {
  position: relative;
  // min-height: 400px;
  max-width: 1200px;
  margin: auto;
  .box-sizing(border-box);
}

.p-item-img {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  margin-bottom: -1px;
  overflow: hidden;
  border: 1px solid @gray-d;
  background: top center no-repeat;
  .background-size(cover);
  .border-radius(4px);
  .box-shadow(0 3px 3px rgba(0,0,0,.05));
  @media(min-width: 768px) {
    float: left;
    width: 50%;
    .p-item-wrap.p-left & {
      float: right;
    }
  }
  @media(min-width: 900px) {
    width: 60%;
  }
}

.p-item-table {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media(min-width: 900px) {
    float: left;
    width: 59%;
  }

  ol.thumb-grid {
    list-style-type: none;
  }

  ol.thumb-grid li {
    float: left;
    width: 19%;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 3% 0 0;
    margin: 0 0 6% 0;
    font-size: 16px;
    text-align: center;
    min-height: 32px;

    @media(min-width: 900px) {
      margin-bottom: 10%;
      max-height: 32px;
    }

    @media(min-width: 1200px) {
      margin-bottom: 6%;
    }

    &.category {
      text-align: left;
      vertical-align: middle;
      line-height: 32px;
      max-height: 32px;
      overflow: hidden;
    }

    &.grey {
      background: #F7F7F7;
    }

    &.dark-grey {
      background: #cecece;
    }

    &.half-dark-grey {
      background: #cecece; /* Old browsers */
      background: -moz-linear-gradient(left,  #cecece 0%, #cecece 50%, #f7f7f7 50%, #f7f7f7 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cecece), color-stop(50%,#cecece), color-stop(50%,#f7f7f7), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #cecece 0%,#cecece 50%,#f7f7f7 50%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #cecece 0%,#cecece 50%,#f7f7f7 50%,#f7f7f7 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #cecece 0%,#cecece 50%,#f7f7f7 50%,#f7f7f7 100%); /* IE10+ */
      background: linear-gradient(to right,  #cecece 0%,#cecece 50%,#f7f7f7 50%,#f7f7f7 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 */
    }

    &.yellow {
      background: #EFDD6A;
    }

    &.half-yellow {
      background: #efdd6a; /* Old browsers */
      background: -moz-linear-gradient(left,  #efdd6a 0%, #efdd6a 50%, #f7f7f7 50%, #f7f7f7 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#efdd6a), color-stop(50%,#efdd6a), color-stop(50%,#f7f7f7), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #efdd6a 0%,#efdd6a 50%,#f7f7f7 50%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #efdd6a 0%,#efdd6a 50%,#f7f7f7 50%,#f7f7f7 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #efdd6a 0%,#efdd6a 50%,#f7f7f7 50%,#f7f7f7 100%); /* IE10+ */
      background: linear-gradient(to right,  #efdd6a 0%,#efdd6a 50%,#f7f7f7 50%,#f7f7f7 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efdd6a', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 */
    }

    .center {
      display: block;
      width: 74px;
      margin: 0 auto;
      text-align: center;
    }

    .ss-trophy, .ss-medal {
      display: block;
      position: absolute;
      z-index: 9999;
      font-size: 40px;
      margin-top: -16px;
      margin-right: auto;
      margin-left: auto;
      width: 64px;
      height: 64px;
      line-height: 76px;
      background-color: #fff;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0 1px 1px rgba(0,0,0,.03);
    }

    .ss-trophy {
      color: #EFDD6A;
      border-color: #EFDD6A;
      text-shadow: 0 1px 0 #e6ca19;
      border-color: lighten(#e6ca19,5%);
    }

    .ss-medal {
      color: #cecece;
      text-shadow: 0 1px 0 #b3b3b3;
      border-color: lighten(#b3b3b3,5%);
    }
  }

  .customer-quote {
    .note-text.strong {
      font-style: italic;
      text-align: left;
      padding: 0 6px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #6d6d6d;
    }
  }

  .thirds {
    @media(max-width: 768px) {
      width: 50%;
    }
  }
}

.team-img {
  border: 1px solid @gray-d;
  .border-radius(4px);
  .box-shadow(0 3px 3px rgba(0,0,0,.05));
  margin-bottom: 14px;  
  width: 70%;
}

.p-item-content {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 40px;
  @media(min-width: 768px) {
    float: right;
    width: 50%;
    padding-top: 0;
    padding-left: 40px;
    .p-item-wrap.p-left & {
      float: left;
      padding-left: 0;
      padding-right: 40px;
    }
  }
  @media(min-width: 900px) {
    width: 40%;
  }
  &.one-third {
    width: 33%;
    padding: 0 1.5%;
    float: left;
    margin-bottom: 20px;
  }
}

.p-item-name {
  margin-top: -8px;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 600;
  color: @gray-5;
}

.p-item-status {
  text-transform: uppercase;
  font-size: 20px;
  color: @gray-a;
}


//  Tech

.p-item-techs {
  margin-top: 10px;
}

.p-item-tech {
  position: relative;
  display: inline-block;
  float: left;
  height: 26px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 7px 10px 5px;
  color: @blue-grey-1;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: @gray-e;
  .border-radius(2px);
}


//  Roles

.p-item-roles {
  margin-top: 15px;
  padding: 20px 0;
  border-top: 1px solid @gray-e;
  border-bottom: 1px solid @gray-e;
}

.p-item-role {
  margin-bottom: 5px;
  color: @blue-grey-1;
  font-weight: 500;
  &:last-child {
    margin-bottom: 0;
  }
}

.p-item-star {
  position: relative;
  top: 2px;
  margin-right: 8px;
  color: @blue-grey-1;
}


//  Quotes

.p-item-quote {
  position: relative;
  min-height: 60px;
  margin-top: 20px;
  padding: 10px;
}

.p-item-quote-img {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 60px;
  .opacity(.7);
}

.p-item-quote-copy {
  position: relative;
  z-index: 1;
  font-size: 14px;
  color: @gray-6;
}

.p-item-quote-attr {
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
  color: @gray-9;
}

.p-item-wrap { 
  .report-page-content {
    @media(min-width: 768px) {
      width: 100%;
    }

    @media(min-width: 900px) {
      width: 40%;
    }
  }
}