// app-styles/variables.less - makes writing and updating CSS much faster by 
//     allowing you to set global colors, fonts, etc.
//--------------------------------------------------------------------------- */

// Colors - Must Win Colors Starter Kit - based on bootstrap so you can override :)
@white: #fefefe;
@white-off: #f3f3f3;
@black: #2d2d2d;

@gray-1: #111;
@gray-2: #222;
@gray-3: #343740;
@gray-4: #444;
@gray-5: #5d5d5d;
@gray-6: #6d6d6d;
@gray-7: #7d7d7d;
@gray-8: #888;
@gray-9: #999;
@gray-a: #aaa;
@gray-b: #bbb;
@gray-c: #cecece;
@gray-d: #dfdfdf;
@gray-e: #efefef;
@gray-f: #fcfcfc;


@brand-primary: #2772CD; //mustwin blue
@brand-success: #3FC380; //mustwin green
@brand-info: #4DCBE8; //mustwin babyblue
@brand-warning: #FFED6D; //mustwin yellow
@brand-danger: #D3443D; //mustwin red
@brand-danger-light: #ef6442;

// Typography

// Z-Indexes